@tailwind base;
@tailwind utilities;
@tailwind components;




@layer components {


    label {
        @apply text-xs;
    }
    
    .row {
        @apply -mx-4 mb-3;
    }

    .col_half {
        @apply w-full;
    }
    
    .input_field {
        @apply relative mb-[20px] animate-bump;
    }
    
    .input_field>span {
        @apply absolute left-0 top-0 text-[#808080] h-full border-r border-solid border-r-[#808080] text-center w-[30px];
    }
    
    .input_field>span>i {
        @apply pt-[10px];  
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        @apply w-full pt-2 pr-3 pb-2 pl-9 h-9 border box-border outline-none transition-all ease-in-out duration-[0.3s];
    }
    
    input[type="text"]:hover,
    input[type="email"]:hover,
    input[type="password"]:hover {
        @apply bg-[#8080801a];
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        @apply shadow shadow-[#4E54C8] border-none bg-[#fafafa];
    }
    
    input[type="submit"] {
        @apply bg-[#4f56c9] h-9 leading-9 w-full border-none outline-none cursor-pointer text-lg mb-5 font-bold text-white transition-all ease-in-out duration-[0.3s];
    }
    
    
    input[type="submit"]:hover {
        @apply bg-[#4E54C8];
    }


    tr:nth-child(even) {
        @apply bg-[#77567733];
    } 


     .context {
        width: 100%;
    }


    .area {
        background: #4e54c8;
        background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
        width: 100%;
        height: 100%;
        /* height: 100vh; */
    }

    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;
    }

    .circles li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }

    .circles li:nth-child(2) {
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }

    .circles li:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }

    .circles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }

    .circles li:nth-child(5) {
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }

    .circles li:nth-child(6) {
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }

    .circles li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }

    .circles li:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }

    .circles li:nth-child(9) {
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }

    .circles li:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }

    @keyframes animate {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100% {
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    } 


}